############################
# Maven
############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

############################
# Logs
############################
*.log

############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.iws
out/

############################
# Eclipse
############################
.project
.classpath
.settings/
.metadata/

############################
# VS Code
############################
.vscode/

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Compiled Files
############################
*.class
