<!DOCTYPE html>
<html>

<head th:replace="~{fragments/head :: head}">

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/nav-bg.jpg" alt="">
    </div>
    <header th:replace="~{fragments/header :: header}">
  </div>

  <!-- about section -->

  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Profile
        </h2>
        <img th:src="@{${photo}}" class="rounded-circle"
          style="width: 150px; float: left; padding: 10px 10px 10px 10px;" alt="Avatar">
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="#" th:action="@{/profile}" th:object="${account}" method="post" novalidate>
              <div>
                <input id="email" name="email" type="email" class="form-control" th:field="*{email}"
                  placeholder="Enter email" required />
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger" role="alert">
                  Email error</p>
              </div>
              <div>
                <input id="password" name="password" type="password" class="form-control" th:field="*{password}"
                  placeholder="Enter password" required />
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger"
                  role="alert">Password Error</p>
              </div>
              <div>
                <input id="firstname" name="firstname" type="text" class="form-control" th:field="*{firstname}"
                  placeholder="Enter your firstname" required />
                <p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="alert alert-danger"
                  role="alert">Firstname Error</p>
              </div>
              <div>
                <input id="lastname" name="lastname" type="text" class="form-control" th:field="*{lastname}"
                  placeholder="Enter your lastname" required />
                <p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="alert alert-danger"
                  role="alert">Lastname Error</p>
              </div>
              <div>
                <input id="age" name="age" type="number" min="18" max="99" class="form-control" th:field="*{age}"
                  placeholder="Enter your name" required />
                <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="alert alert-danger" role="alert">Age
                  Error</p>
              </div>
              <div>
                <input id="date_of_birth" name="date_of_birth" type="date" class="form-control"
                  th:field="*{date_of_birth}" placeholder="Enter your name" required />
                <p th:if="${#fields.hasErrors('date_of_birth')}" th:errors="*{date_of_birth}" class="alert alert-danger"
                  role="alert">Date Of Birth Error</p>
              </div>
              <div>
                <select name="gender" id="gender" class="form-control" required>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Others">Others</option>
                </select>
                <p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="alert alert-danger" role="alert">
                  Gender Error</p>
              </div>

              <div class="btn_box">
                <button type="submit">
                  Update profile
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
  <footer th:replace="~{fragments/footer :: footer}">
</body>

</html>